.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Jersey 10", cursive;
    padding: 10px;
    font-size: 45px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0; 
}

.icpc-logo {
    width: 200px;
    display: flex;
    justify-content: left;
    align-items: left; 
    /* css is chopped and evil!! */
}

nav ul {
    list-style: none;
    padding: 0;
    background: #276938;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px
}

img {
    display: flex;
    margin: 20px auto;

}

